<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
<div class="sidebar"><div th:replace="sidebar :: sidebar-comment"></div></div>
<div class="main">
        <nav class="navbar navbar-expand-sm bg-light  justify-content-between">
            <ul class="navbar-nav">
          
              <li class="nav-item">
                  <a type="button" class="btn btn-primary" th:href="@{/comment/topic/create}">新建</a>
              </li>
            </ul>
          </nav>
     
    


          <div class="container-fluid">
      <table class="table table-striped table-bordered ">
          <thead class="thead-dark">
        <tr>
        <th th:text="考评项目"/>
        <th th:text="任务"/>
        
        
  
       
        
    </tr>
    <tbody>
  <th:block th:each="index : ${index}">
    <tr>
        <td th:text="${index.name}"/>
       
        <td><a th:href="@{/comment/topic/docomment(id=${index.id})}"> 修改</a><a th:href="@{/comment/topic/content(id=${index.id})}"> 查看</a></td>
       

       
        
    </tr>
   
  </th:block>
</tbody>
</table>
</div>
</div>
</div>
</body>
</html>